<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bm?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.dialect.storage_engine">innodb</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <property name="show_sql">true</property>
        <mapping class="com.andy.bana_mboka.model.User"></mapping>
        <mapping class="com.andy.bana_mboka.model.Fichier"></mapping>
        <mapping class="com.andy.bana_mboka.model.Adresse"></mapping>
        <mapping class="com.andy.bana_mboka.model.Services"></mapping>
        <mapping class="com.andy.bana_mboka.model.Entreprise"></mapping>
        <mapping class="com.andy.bana_mboka.model.Particulier"></mapping>
    </session-factory>
</hibernate-configuration>
